<h1>Welcome</h1>
<p>Welcome to miniStories 1.0.0</p>
<small>Post stories from the best and worst of your life and choose for them to be read by the world or completley private as your own personal diary</small>
{{#if user}}
{{else}}
  <a class="btn light-green accent-3" href="/auth/google"><i class="fa fa-google left"></i> Login With Google</a>
{{/if}}